/* Mobile */
.container {
  display: flex;
  flex-direction: column;
  background-color: red;
  padding: 25px;
  height: 100%;
  justify-content: space-evenly;
}

a {
  display: inline;
  text-decoration: none;
  color: white;
}

#menuIcon {
  color: white;
  position: absolute;
  margin-left: 20px;
  z-index: 1;
}

#htmlNavigation {
  display: none; /* This property has to be changed when the button is clicked */
  position: fixed;
  top: 0;
  background-color: red;
  height: 100vh; 
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dissappear {
  display: none;
}

/* Desktop */
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #menuIcon {
    display: none;
  }

  .container a {
    display: inline;
  }

  #openMenu {
    display: none;
  }

  #htmlNavigation {
    display: inline;
    height: 100%; 
    width: 100%;
    position: relative;
  }
}